* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    height: 2000px;
    overflow-x: hidden;
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-logo {
    font-size: 40px;
    color: #fff;
}

.header-list {
    display: flex;
    column-gap: 30px;
}

.header-link {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.header-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.header-cloud {
    position: absolute;
}

.cloud1 {
    top: 20%;
    left: 5%;
}

.cloud2 {
    top: 15%;
    right: 10%;
}

.cloud3 {
    top: 20%;
    left: 40%;
}

.header-boat {
    position: absolute;
    top: 60%;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.header-title {
    font-size: 100px;
    text-shadow: 0 0 4px black;
    color: #fff;
}

/* Parallax section */
.parallax {
    width: 100%;
}

.parallax-title {
    padding: 20px 0;
    text-align: center;
    background-color: white;
    font-size: 50px;
}

.parallax-box {
    width: 100%;
    height: 600px;
}

.parallax-banner {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.parallax-ball {
    position: absolute;
}

.layer1 {
    left: 20%;
}

.layer2 {
    right: 10%;
}

.timer {
    /* margin-top: 200px; */
    background-color: green;
    padding: 50px 0;
}

.timer-cards {
    display: flex;
    justify-content: space-between;
}

.timer-card {
    width: 250px;
    height: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.timer-num {
    color: white;
    font-size: 40px;
}

.timer-text {
    color: white;
    font-size: 20px;
}

.timer-btn {
    background-color: white;
    padding: 10px;
}